header.masthead-about {
    background-color: rgb(11,22,52);
    position: relative;
    overflow: hidden;
    padding-top: calc(7rem + 72px);
    padding-bottom: 7rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
}
.masthead-about-heading{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
  
.masthead-about-subheading {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 20px;
}

.heading-company-profile  {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    word-wrap: break-word;
    color: black; 
}


.text-company-profile {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    word-wrap: normal;  
    color: black; 
    
}
  
.title-heading-company-profile {
    font-size: 36px;
    width: 100%;

}

.text-heading-company-profile {
    font-size: 18px;
    width: 100%;
    text-align: justify;
}


.mission-vision-values {
    width: 100%;
    text-align: center;
    padding: 35px 5px 50px 5px
}

.box-mission-vision-values {
    border-right: solid 1px #acacac;
    width: 100%;

}

.values {
    margin-bottom: 5px;
}

.row {
    width: 100%;
}


