.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: auto;
}

.footer-custom {
    background-color: rgb(11,22,52);
    width: 100%;
}

.social-medias-div-footer{
    text-align: center;
    padding-top: 25px;
}

.social-medias-footer{
    height: 40px;
    width: 40px;
    margin: 10px
}

.row {
    padding-top: 20px;
    padding-bottom: 15px;
    width: 100%;
}

.information-footer {
    width: 100%;
}

.name-site-footer {
    font-family: 'Montserrat', sans-serif;
}

.description-site {
    font-family: 'Playfair Display', serif;
    font-style: italic;
}
.first-column {
    text-align: center;
    border-right: solid 1px slategray;
}

.name-contacts-footer {
    font-size: 25px;
}

.contacts-footer {
    font-size: 20px;
    padding: 0;
    padding-bottom: 15px

}

.contacts-name-footer {
    font-size: 15px;
    padding-bottom: 15px
}

.link-footer {
    color: white;
}

.creator-site {
    padding: 15px 0;
    width: 100%;
    text-align: center;
}

.link-creator {
    color: white;
}